.filter-bar {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin: 2rem;
}

.filter-btn {
  padding: 10px 18px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  font-weight: 600;
  width: 5rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.25s ease;
}

.filter-btn.active {
  background-color: #2563eb;
  color: #fff;
  border-color: #2563eb;
}

.filter-btn.lost {
  color: #dc2626;
}

.filter-btn.found {
  color: #16a34a;
}

.filter-btn.lost.active {
  background-color: #dc2626;
  color: #fff;
  border-color: #dc2626;
}

.filter-btn.found.active {
  background-color: #16a34a;
  color: #fff;
  border-color: #16a34a;
}


.items-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.dashboard-item-card {
  background-color: #ffffff;
  border-radius: 0.75rem;
  padding: 1.2rem;
  margin: 0.5rem;
  width: 16rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  border-left-color: rgb(43, 73, 171);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.item-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.item-title {
  font-size: 1.1rem;
  font-weight: 700;
  color: rgb(13, 38, 119);
  margin: 0;
}

.item-status {
  font-size: 0.7rem;
  padding: 0.3rem 0.6rem;
  border-radius: 0.4rem;
  font-weight: 600;
  /* text-transform: uppercase; */
}

.item-status.lost {
  background-color: #ffe5e5;
  color: #c0392b;
}

.item-status.found {
  background-color: #e6f9f0;
  color: #27ae60;
}

.item-venue,
.item-date {
  font-size: 0.9rem;
  color: #555;
  margin: 0.3rem 0;
}

.dashboard-main-heading {
    display: flex;
    color: rgb(13, 38, 119);
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.search-input {
  width: 80%;
  margin-top: 2rem;
  max-width: 360;
  padding: 10px 14px;
  font-size: 16px;
  border: 1.5px solid #ccc;
  border-radius: 6px;
}

.search-input::placeholder {
  color: #999;
}

.search-input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
}

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-items {
  margin: 5rem;
  margin-bottom: 9rem;
  text-align: center;
  color: #637089;
  font-size: 15px;
}