.footer-wrapper {
  background-color: rgb(225, 240, 253); 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-wrapper h3 {
  font-size: 24px;
  font-family: cursive;
  color: rgb(17, 44, 143);
  font-weight: 700;
  margin-bottom: 0;
}

.footer-wrapper-para {
  font-size: 0.85rem;
  margin-top: 0;
  color: rgb(73, 73, 73);
}

.quick-links p {
  font-weight: 600;
  margin-bottom: 3px;
  margin-top: 2px;
}

/* Footer links */
.quick-links a {
  color: #016eeb;
  text-decoration: none;
  font-size: 14px;
  margin: 0 4px;
  transition: color 0.2s ease;
}

.quick-links a:hover {
  text-decoration: underline;
}

.contact-links {
  margin-top: 3px;
  font-size: 14px;
}

.contact-links p {
  font-weight: 600;
  margin-bottom: 4px;
}

.footer-bottom {
  margin-top: 25px;
  padding-top: 12px;
  width: 100%;
  border-top: 1px solid #313946;
  font-size: 13px;
  color: #5b5d61;
}

.contact-para {
  margin-bottom: 0;
  font-size: 16px;
}

.official-mail {
  text-decoration: none;
  color: #016eeb;
  margin-top: 0;
  padding-top: 0;
}