.singup-welcome {
    text-align: center;
}

.singup-welcome-header {
    margin-bottom: 0;
    color: rgb(17, 44, 143);
    font-family: cursive;
    font-size: 1.9rem;
}

.singup-welcome-para {
    margin-top: 0;
    font-size: 0.9rem;
    margin-bottom: 2rem;
    color: grey;
}

.signup-end-para {
    color: grey;
    font-size: small;
    text-align: center;
    margin-top: 2rem;
}

.submit-btn {
    margin-top: 2rem;
}

.form-wrapper {
    margin-top: 0rem;
}

.signup-sub-wrapper {
    margin: 1.5rem;
    margin-bottom: 0;
}

.password-wrapper {
  position: relative;
  display: block;
  width: 100%;
}

.password-wrapper input {
    width: 90%;
}

.password-eye {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  cursor: pointer;
  color: grey;
}



/* 
.password-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.password-eye {
  position: absolute;
  top: 50%;
  right: 12px;        
  transform: translateY(-50%);
  cursor: pointer;
  color: #6b7280;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
} */