.wrapper {
    width: 80%;
    max-width: 28rem;
    min-height: 10rem;
    margin: 2rem auto;
    padding: 1rem;
    background: linear-gradient(135deg, rgb(16, 46, 144), rgb(72, 107, 213));
    color: white;
    border-radius: 1.2rem;
    box-shadow: 5px 15px 15px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-heading {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0 0 .4rem 0;
    margin-bottom: 1rem;
    font-family: cursive;
}

.card-para {
    font-size: 1.1rem;
    line-height: 1.4;
    margin: 0;
    opacity: 0.9;
}

.card-link {
    text-decoration: none;
}

.card-btn {
    background-color: rgba(10, 184, 10, 0.801);
    color: white;
    border: none;
    height: 2.6rem;
    width: 12.5rem;
    border-radius: 0.7rem;
    font-weight: 550;
    font-size: medium;
    font-family: "bubbler-one", sans-serif;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    /* transition: background .2s ease, transform .2s ease; */
}

.card-btn:hover {
    background-color: white;
    transform: translateY(-2px);
}

.welcome-card-image {
    width: 7.5rem;
    height: 6rem;
    float: right;
    margin-top: 2rem;
}

.sub-wrapper {
    display: flex;
}

.maginifying-glass {
    margin-right: 0.5rem;
}